#mes {
    min-height: 140px;
}

#mes p {
    margin-top: 50px;
    /*font-weight: bold;*/
    font-size: 28px;
}

#pinguin {
    background-image: url(../images/linux.png);
    min-height: 400px;
    background-repeat: no-repeat;
    opacity: 0.7;
    margin-bottom: 30px;
}