#downloadcontainer {

    background-image: url(../images/flower-bottom.png);
    background-repeat: no-repeat;
    background-position: right top;
    min-height: 130px;
}

#downloadcontainer h3 {
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 50px;
}


#table {
    margin-top: 20px;
    border-collapse: collapse;
}

#table td, th {
    border: 1px solid black;
}

#table p {
    font-family: verdana, arial, sans-serif;
    font-weight: normal;
    font-size: 12px;
}

.thdownload {
    color: #2497d4;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.thlinks {
    color: black;
    font-weight: normal;
    font-size: 12px;
    width: 150px;
}

.thlinks a {
    font-size: 12px;
    color: #185d81;
    text-decoration: none;
    font-weight: bold;
}

.thlinks a:hover {
    color: #2497d4;
}

#aftertable {
    margin-top: 20px;
    margin-bottom: 30px;
}

#aftertable a {
    font-weight: bold;
    text-decoration: none;
    color: #185d81;
}

#aftertable a:hover {
    font-weight: bold;
    color: #2497d4;
}

#button {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: normal;
    float: right;
    width: 150px;
    height: 45px;
    background-color: #2497d4;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    color: #ffffff;
}

#button:hover {
    background-color: #185d81;
}



