#newscontent {
    min-height: 130px;
    background-image: url(../images/flower-bottom.png);
    background-repeat: no-repeat;
    background-position: right top;
}

#newscontent p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.7;
    word-wrap: break-word;
}

#newscontent a {
    color: #185d81;
    font-weight: bold;
    text-decoration: none;
}

#newscontent a:hover {
    color: #2497d4;
}

.singlenewsdetails {
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #185d81;
}

#newscontent H3 {
    margin-top: 50px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    line-height: 0.833;
    font-weight: normal;
}

#newsarchcontent > H3 {
    text-decoration: none;
}


/*
    Кнопки новостей
*/
#buttonforum > a, #buttonback > a {
    font-weight: normal;
    background-color: #2497d4;
    text-align: center;
    text-decoration: none;
    color: #ffffff !important;
    font-weight: normal;
    display:block;
    line-height: 45px;
    cursor: pointer;
    height: 45px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#buttonforum > a{
    float: left;
    width: 240px;
}

#buttonback > a {
    float: right;
    width: 150px;
}


#buttonback:hover, #buttonforum:hover,
#buttonback a:hover, #buttonforum a:hover {
    background-color: #185d81;
    color: #ffffff;
}

#newsarchcontent {
    min-height: 130px;
    background-image: url(../images/flower-bottom.png);
    background-repeat: no-repeat;
    background-position: right top;
}

#newsarchcontent h3 {
    margin-top: 60px;
    font-size: 28px;
    font-weight: normal;
}

#newsarchcontent ul {
    margin-top: 30px;
}

#newsarchcontent a {
    color: #185d81;
}

#newsarchcontent a:hover {
    color: #2497d4;
}

#archyear {
    color: #185d81;
    margin-top: 30px;
    font-size: 28px;
    font-weight: bold;
}

#archews {
    margin-top: 20px;
    line-height: 25px;
    color: #185d81;
}

#archews li:hover {
    cursor: pointer;
    color: #2497d4;
}

#archews > li > a {
    margin: 0px auto;
    z-index: 0;
    font-family: "Verdana";
    font-size: 14px;
    position: relative;
    text-decoration: none;
}