* {
    margin: 0 auto;
    z-index: 0;
    font-family: "Verdana";
    font-size: 14px;
    position: relative;

}

body {
    /*background-color:#E2E2E2;*/
    background-color: #ffffff;
}

#container {
    width: 940px;
    background-color: white;
    margin: 0 auto;

    /*-webkit-box-shadow: 0px 1px 1px 0px #185d81;*/
    /*-moz-box-shadow:    0px 1px 1px 0px #185d81);*/
    /*box-shadow:         0px 1px 1px 0px #185d81;*/
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #ffffff, #6a97ae, #ffffff);
    background-image: -moz-linear-gradient(left, #ffffff, #6a97ae, #ffffff);
    background-image: -ms-linear-gradient(left, #ffffff, #6a97ae, #ffffff);
    background-image: -o-linear-gradient(left, #ffffff, #6a97ae, #ffffff);
    margin-top: 20px;
    margin-bottom: 40px;
}

H3 {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    line-height: 0.833;
    font-weight: normal;
}

H4 {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    line-height: 1.429;
    font-weight: bold;
    margin-left: 10px; /*!!*/
    margin-top: 10px;
}

/***************************************************************
    Шапка
***************************************************************/

#upline {
    height: 3px;
    background-image: url(../images/upline.png);
    background-repeat: no-repeat;
}

#logo {
    margin-left: 25px;
    float: left;
    width: 261px;
    margin-top: 5px;
    height: 88px;
    background-image: url(../images/logomageia.png);
    background-repeat: no-repeat;
    /*margin-right: 1px;*/

}

#logo > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;

}

#logo > a:active {
    background-color: transparent;
}

/*#flowertop {*/
/*float: right;*/
/*height: 130px;*/
/*background: url(../images/flower-top.png) top right;*/
/*background-repeat: no-repeat;*/

/*}*/

/***************************************************************
    Навигационная панель
***************************************************************/
#menu {
    margin-top: 65px;
    float: right;
    margin-right: -1px;
    /*margin-right: 8px;*/
}

#navbar {
    /*margin-top: 5px;*/
    width: 100%;
    margin-top: 5px;
    box-shadow: 0 1px 2px #b9b9b9;
    border-top: 5px solid #2497d4;
    border-radius: 0 0 5px 5px;
    height: 100px;
}

#menu > ul {
    list-style-type: none;
    /*padding: 0px;*/
    /*margin: 0px;*/
}

#menu li, #menu li a {
    /*font-weight: bold;*/
    height: 35px;
    background-color: #2497d4;
    display: block;
    float: left;
    width: 120px;
    color: rgb(255, 255, 255);
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    margin-right: 1px;
}

#menu li:hover, #menu li a:hover {
    background-color: #185d81;
}

#headerhr {
    margin-top: 0px;
}

/***************************************************************
    Контент
***************************************************************/
#content {
    /*background-image: url(../images/flower-bottom.png);*/
    /*background-repeat: no-repeat;*/
    /*background-position: right top;*/
    width: 100%;
}

.about {

    height: 300px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 2px #a7a7a7;
}

.about a {
    font-size: 14px;
    text-decoration: none;
    width: 240px;
    display: block;
    height: 45px;
    background-color: #2497d4;
    text-align: center;
    line-height: 45px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 25px;
}

.about a:hover {
    background-color: #185d81;
}

.info {
    font-size: 14px;
    height: 90px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.detail {
    font-size: 14px;
    margin-top: 20px;
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

#monitor {
    margin-top: 40px;
    height: 262px;
}

#monitorpic {
    background-image: url(../images/monitor.png);
    height: 262px;
    background-repeat: no-repeat;
    margin-left: 25px;
}

/****************************************************
    Social
*********************************************/
#social {
    float: left;
    margin-top: 10px;
    height: 200px;
    /*border-radius: 5px;*/
    /*box-shadow: 0 1px 2px #a7a7a7;*/
}

#social p {
    margin-top: 20px;
    text-align: center;
}

#socicons {
    margin-top: 20px;
    height: 40px;
    margin-left: 30px;
}

#socicons ul {
    list-style-type: none;
    padding: 0px;
}

#socicons li, #socicons li a {
    height: 40px;
    width: 40px;
    display: block;
    float: left;
    /*line-height: 35px;*/
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
}

#otherinfo {
    margin-top: 20px;
    border-top: 5px solid #2497d4;
    border-radius: 0 0 5px 5px;
}

#otherinfo p {
    margin-top: 10px;
}

#menu li:hover, #menu li a:hover {
    background-color: #185d81;
}

#ok {
    background-image: url('../images/iconok.png');
}

#g {
    background-image: url('../images/icong.png');
}

#tw {
    background-image: url('../images/icontw.png');
}

#mail {
    background-image: url('../images/iconm.png');
}

#vk {
    background-image: url('../images/iconovk.png');
}

/***************************************************************
    Новости на главной странице
***************************************************************/

#newsblock {
    float: right;
    border-radius: 5px;
    box-shadow: 0 1px 2px #a7a7a7;
    margin: 0;
    position:relative;
	margin-top:20px;
}

.news {
    height: 200px;
    text-align: left;
    margin-left: 5px;
    /*margin-top: 35px;*/
    /*padding-left: 10px;*/
    word-wrap: break-word;
    /*border-right:1px solid red;*/

}

.news h4 {
    font-size: 12px;
    text-decoration: none;
    margin-left: 0;
    color: #2497d4;
}

.news p {
    font-size: 12px;
    line-height: 1.7;
    margin-top: 5px;
}

.newsdetails {
    font-size: 10px;
    /*font-weight: bold;*/
    color: #a7a7a7;
}

.news a {
    /*display: block;*/
    text-decoration: none;
    /*cursor: pointer;*/
    color: #a7a7a7;
}

/*.news a:hover {*/
/*background-color: #185d81;*/
/*}*/

/***************************************************************
    Футер
***************************************************************/
#footer {
    height: 300px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
}

#footer > img {
    padding-top: 50px;
    padding-left: 40px;
}

.footer_menu {
    position: absolute;
    font-weight: bold;
    top: 20px;
    right: 60px;
}

.footer_menu > p {
    padding-bottom: 15px;
}

.footer_menu ul {

    font-weight: normal;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.footer_menu li {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.footer_menu a {
    text-decoration: none;
    color: #185d81;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.footer_menu li:hover {
    color: #185d81;
    text-decoration: underline;
}

.copyright {
    margin-top: 280px;
    text-align: center;
    font-size: 12px;
}