* {
    margin: 0 auto;
    z-index: 0;
    font-family: "Verdana";
    font-size: 14px;
    position: relative;
}

body {
    width: 1020px;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #ffffff, #6a97ae, #ffffff);
    background-image: -moz-linear-gradient(left, #ffffff, #6a97ae, #ffffff);
    background-image: -ms-linear-gradient(left, #ffffff, #6a97ae, #ffffff);
    background-image: -o-linear-gradient(left, #ffffff, #6a97ae, #ffffff);
    margin-top: 20px;
    margin-bottom: 40px;
}

#upline {
    height: 3px;
    background-image: url(../images/upline.png);
    background-repeat: no-repeat;
}

#logo {
    margin-top: 15px;
    height: 88px;
    background-image: url(../images/logomageia.png);
    background-repeat: no-repeat;
}


#flowertop {
    float: right;
    height: 130px;
    background: url(../images/flower-top.png) top right;
    background-repeat: no-repeat;
}

H3 {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    line-height: 0.833;
    font-weight: normal;
}

H4 {


    color: rgb(0, 0, 0);
    text-decoration: underline;
    line-height: 1.429;
    font-weight: bold;
    margin-left: 10px; /*!!*/
    margin-top: 10px;
}


/***************************************************************
    Навигационная панель
***************************************************************/
#navbar, #menu  {
    height: 38px;
    background-color: #2497d4;
}
/*
    Меню
*/
#menu > ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#menu > ul > li,
#menu > ul > li:hover{
    display: block;
    float: left;
    width: 103px;
    color: rgb(255, 255, 255);
    line-height: 38px;
    text-align: center;
    cursor: pointer;

}

#menu > ul > li:hover,
#menu > ul > li.active{
    background-color: #185d81;
}

/*
    Поиск
*/
#searchinput {
    margin-top: 8px;
    margin-right: 20px;
    float: right;
}

/*
    Кнопка поиска
*/
#searchsubmit {
    border: none;
    background-image: url(../images/loop.png);
    background-repeat: no-repeat;
    width: 23px;
    height: 18px;
    /*z-index: 999;*/
    position: relative;
    left: 348px;
    top: 10px;
    cursor: pointer;
}

/***************************************************************
    Контент
***************************************************************/
.about {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 50px;
}

.about > .button {
    width: 240px;
    height: 45px;
    background-color: #2497d4;
    text-align: center;
    line-height: 45px;
    color: #ffffff;
    cursor: pointer;
}

.info {
    height: 90px;
    font-size: 18px;
}

.detail {
    padding-top: 40px;
    height: 70px;
}



.about > .button:hover {
    background-color: #185d81;
}

#content {
    background-image: url(../images/flower-bottom.png);
    background-repeat: no-repeat;
    background-position: right top;
}

#monitor {
    margin-top: 40px;
    height: 262px;
}

#monitorpic {
    background-image: url(../images/monitor.png);
    height: 262px;
    background-repeat: no-repeat;
    margin-left: 25px;
}

/*
    Новости
*/
.news {
    width: 290px;
    height: 200px;
    position: relative;
    text-align: left;
    float: left;
    margin-left: 4px;
    margin-top: 35px;
    padding-left: 10px;
    background-image: url('../images/news_angle.png');
    background-repeat: no-repeat;
}

.news > p {
    padding-top: 10px;
    font-size: 12px;
    line-height: 1.7;
    margin-right: 50px;
    margin-left: 10px;
}


.button_read {
    background-color: #2497d4;
    height: 30px;
    width: 100px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    text-align: center;
    line-height: 28px;
    color: #ffffff;
    cursor: pointer;
}

.button_read:hover {
    background-color: #185d81;
}


/***************************************************************
    Футер
***************************************************************/
#footer {
    height: 393px;
    background: linear-gradient(#f8fbfe, #2a9ad5);
}

#footer > img {
    padding-top: 50px;
    padding-left: 40px;
}

.footer_menu {
    position: absolute;
    font-weight: bold;
    top: 60px;
    right: 60px;
}
.footer_menu > p {
    padding-bottom: 15px;
}

.footer_menu > ul {
    text-decoration: underline;
    font-weight: normal;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.copyright {
    text-align: center;
    font-size: 12px;
}