/***************************************************************
    Общие параметры
***************************************************************/
* {
    margin: 0 auto;
    z-index: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: relative;
}

body {
    background-color: white;
    background-image: url('../images/bg-139.png');
}

#container {
    width: 940px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0 1px 3px #b9b9b9;

}

hr {
    margin-top: 10px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, white, #ddeeee, white);
    background-image: -moz-linear-gradient(left, white, #ddeeee, white);
    background-image: -ms-linear-gradient(left, white, #ddeeee, white);
    background-image: -o-linear-gradient(left, white, #ddeeee, white);

}

H2 {
    font-size: 24px;
    color: black;
    text-decoration: none;
    line-height: 0.833;
    font-weight: normal;
    margin-top: 30px;
}

H3 {
    font-size: 24px;
    color: black;
    text-decoration: none;
    line-height: 0.833;
    font-weight: normal;
    margin-top: 50px;
}

H4 {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: normal;
    margin-top: 25px;
}

H5 {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    text-decoration: underline;
}

pre {
    white-space: pre-wrap;
    border: 1px dashed #2497D4;
    background-color: #F9F9F9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

table {
    border-collapse: collapse;
}

.spoiler-head {
    text-decoration: underline;
    cursor: pointer;
    color: #2497D4;

}

/*
 *  Заготовка для кнопочки
 */
.button {
    font-weight: normal;
    background-color: #435779;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    color: white;
}
.button a{
	width: 100%;
	
    height: 100%;
    background-color: #435779 !important;
	color: white !important;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
	display: block;
	font-size: 15px !important;
	text-decoration: none;   
	font-weight: normal !important;	
}


.button:hover,
.button a:hover {
    background-color: #DEE !important;
	color: #435779 !important;
}

/*
================================================================
    ПАРАМЕТРЫ ШАБЛОНА (шапка, подвал и тд)
================================================================
*/
/***************************************************************
    Шапка
***************************************************************/
#logo {
    margin: 0;
    float: left;
    width: 373px;
    height: 168px;
    background-color: white;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
}

#logo > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

#logo > a:active {
    background-color: transparent;
}

#navbar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-left: 0px;
    width: 100%;
    /*box-shadow: 0 1px 2px #b9b9b9;*/
    height: 168px;
}

/*
 *  Верхнее меню сайта
 */
#uppermenu {
    position: absolute;
    top: 0;
    right: 0;
}

#uppermenu ul {
    list-style-type: none;
    width: 140px;
    height: 35px;
}

#uppermenu li, #uppermenu li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    height: 35px;
    display: block;
    float: left;
    width: 70px;
    color: #185D81;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
}

#uppermenu li:hover, #uppermenu li a:hover {
    color: #2497d4;
}

/*
 *  Основное меню сайта
 */
#menu {
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -1px;
}

#menu ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    list-style-type: none;
    height: 35px;
    width: 555px;
}

#menu li, #menu li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #435779;
    height: 35px;
    display: block;
    float: left;
    width: 110px;
    color: white;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    margin-right: 1px;
}

#menu li:hover, #menu li a:hover {
    background-color: #ddeeee;
    color: #435779;
}

/***************************************************************
    Футер
***************************************************************/
.footer_top {
    width: 100%;
    height: 200px;
}

.footer_bottom {
    color: white;
    width: 100%;
    height: 15px;
    /*background-color: #ddeeee;*/
    background-color: #435779;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
}

.usfllinks, .sitemap, .infoblock, .infoabout {
    margin-top: 40px;
}

.usfllinks h1, .sitemap h1, .infoblock h1, .infoabout h1 {
    margin-left: 40px;
    color: #435779;
    font-size: 12px;
}

.usfllinks ul, .sitemap ul, .infoblock ul, .infoabout ul {
    margin-top: 20px;
    list-style: none;
}

.usfllinks ul li, .sitemap ul li, .infoblock ul li, .infoabout ul li {
    text-decoration: none;
    line-height: 20px;
}

.infoabout ul li {
    float: left;
    margin-right: 10px;
}

.usfllinks ul li a, .sitemap ul li a, .infoblock ul li a {
    text-decoration: none;
    color: #6a97ae;
    font-size: 12px;
}

#vk {
    height: 32px;
    width: 32px;
    background-image:  url('../images/iconovk.png');
    cursor: pointer;
}

#tweeter {
    height: 32px;
    width: 32px;
    background-image:  url('../images/icontw.png');
    cursor: pointer;
}


.usfllinks ul li a:hover, .sitemap ul li a:hover, .infoblock ul li a:hover {
    color: #435779;
}

/*
================================================================
    СТРАНИЦЫ САЙТА
================================================================
*/

/***************************************************************
    Главная страница
***************************************************************/
#content {
    width: 100%;
}

.titleline1 {
    margin-top: 0px;
    width: 100%;
    height: 40px;
    background-color: #ddeeee;
    color: black;
}

.titleline1 p {
    margin-left: 20px;
    font-size: 13px;
    font-weight: bold;
    padding-top: 13px;
}

.about {
    height: 300px;
    color: black;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 50px;
}

.about .button{
	margin-top: 35px;
	width:240px;
}

.info {
    font-size: 15px;
    height: 90px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.detail {
    font-size: 15px;
    margin-top: 20px;
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

#monitor {
    margin-top: 40px;
    height: 262px;
}

#monitorpic {
    background-image: url('../images/monitor.png');
    height: 262px;
    background-repeat: no-repeat;
    margin-left: 25px;
}

/*
 *  Новости на главной странице
 */
.newscontainer {
    height: 300px;
    box-shadow: 0px 1px 1px 0px #b9b9b9;
}

#newsblock {
    width: 100%;
    margin: 0;
    position: relative;
    margin-top: 20px;
    height: 230px;
    overflow-y: hidden;
}

.newshead {
    margin-top: 40px;
    font-size: 18px;
    margin-left: 20px;
}

#news h3 {
    margin-top: 50px;
    margin-left: 40px;
}

.news {
    height: 200px;
    text-align: left;
    word-wrap: break-word;
    margin-bottom: 25px;
    box-shadow: 0 1px 2px #b9b9b9;
    margin-top: 5px;
}

.news h4 {
    margin-top: 5px;
    font-size: 14px;
    margin-left: 5px;
    color: #435779;
    font-weight: bold;
}

.news h4:hover {
    color: black;
}

.news p {
    font-size: 12px;
    line-height: 1.7;
    margin-top: 10px;
    margin-left: 5px;
}

.newsdetails {
    margin-top: 0;
    font-size: 10px;
    color: #a7a7a7;
    margin-left: 5px;
}

.news a {
    text-decoration: none;
    color: #a7a7a7;
}

#leftarrow,
#rightarrow {
    position: absolute;
    height: 20px;
    bottom: 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-right: 9px;
}

#leftarrow {
    right: 56px;
    width: 55px;
}

#rightarrow {
    right: 0;
    width: 55px;
}

/*
 *  Слайдшоу
 */
.slider_wrap {
	margin-top:30px;
	width:540px;
	height:300px;
	position:relative;
	overflow:hidden;
}
.slider_wrap img {
	width:500px;
	height:300px;
	display:none;
	position:absolute;
	top:0;
	left:20px;	
}
.slider_wrap img:first-child {
	display:block;
}
.slider_wrap span {
	margin-top:-13px;
	width:15px;
	height:26px;
	display:block;
	position:absolute;
	top:50%;
	cursor:pointer;
	background:url(../images/slider2_arrow.png) no-repeat;
}

.slider_wrap span.next {
	right:0;
	background-position:-15px 0;
}
.slider_wrap span.next:hover {
	background-position:-15px -26px;
}

.slider_wrap span.prev {
	left:0;
	background-position: 0 0;
}
.slider_wrap span.prev:hover {
	background-position: 0 -26px;
}

/*
*   гаромшка
*/
.garmblock {
    margin-top: 40px;
}

.garm {
    color: black;
    margin: 0;
    margin-top: 1px;
    height: 40px;
    background-color: #ddeeee;
    cursor: pointer;
    text-align: center;
}

.garm:hover {
    background-color: #435779;
    color: white;
}

.garmpic, .garmpicsocial, .garmpictech, .garmpicquality, .garmpic1 {
    margin-left: 10px;
    margin-top: 7px;
    float: left;
    width: 26px;
    height: 26px;
}

.garmpic {
    background-image: url('../images/iconlinux.png');
    background-repeat: no-repeat;
}

.garmpicsocial {
    background-image: url('../images/iconsoc.png');
    background-repeat: no-repeat;
}

.garmpictech {
    background-image: url('../images/icontech.png');
    background-repeat: no-repeat;
}

.garmpicquality {
    background-image: url('../images/iconquality.png');
    background-repeat: no-repeat;
}

.garmpic1 {
    background-image: url('../images/icon1.png');
    background-repeat: no-repeat;
}

.garmhead {
    margin: 0;
    margin-left: 50px;
    padding-top: 13px;
    font-size: 13px;
    text-align: left;
	-moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /*font-weight: bold;*/
}

.garmblock ul {
    margin: 20px;
}

.garmblock ul li {
    line-height: 18px;
    font-size: 12px;
}

/***************************************************************
    Загрузки
***************************************************************/
#downloadcontainer h3 {
    margin-bottom: 50px;
}

#downloadcontainer > table {
    margin-top: 20px;
    border: 1px solid #2497D4;
}

#downloadcontainer > table td {
    text-align: center;
    border: 1px solid #2497D4;
}

#downloadcontainer > table p {
    font-weight: normal;
    font-size: 12px;
}

.thdownload {
    color: #2497d4;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
}

.thlinks {
    color: black;
    font-weight: normal;
    font-size: 12px;
    width: 150px;
}

.thlinks a {
    font-size: 12px;
    color: #185d81;
    text-decoration: none;
    font-weight: bold;
}

#aftertable a:hover,
.thlinks a:hover {
    color: #2497d4;
}

#aftertable {
    margin-top: 20px;
    margin-bottom: 30px;
}

#aftertable a {
    font-weight: bold;
    text-decoration: none;
    color: #185d81;
}

#button {
    margin-top: 20px;
    margin-bottom: 30px;
    float: right;
    width: 150px;
    height: 45px;
}

/***************************************************************
    Репозиторий
***************************************************************/
#repocontainer table td {
    border: 1px solid #2497D4;
}

#repocontainer li img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: 1px solid #dee;
    width: 40%;
    height: 40%;
}

#repocontainer ul,
#repocontainer ol {
    margin-left: 0px;
}

#repocontainer ul a {
    text-decoration: none;
}

#repocontainer ol > li {
    margin-left: -20px;
}

#repocontainer > ul > li {
    margin-left: -40px;
    list-style-type: none;
}

#repocontainer a {
    font-size: 12px;
    color: #185D81;
    text-decoration: none;
    font-weight: bold;
}

#repocontainer a:hover {
    color: #2497D4;
}

/***************************************************************
    Новость
***************************************************************/
#newscontent p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.7;
    word-wrap: break-word;
}

#newscontent a {
    color: #185d81;
    font-weight: bold;
    text-decoration: none;
}

#newscontent a:hover {
    color: #2497d4;
}

.singlenewsdetails {
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #185d81;
}

#buttonforum a, #buttonback a {
    margin-bottom: 50px;
}

#buttonforum {
    float: left;
    width: 240px;
	height: 45px;
	margin-top: 50px;
}

#buttonback {
    float: right;
    width: 150px;
	height: 45px;
	margin-top: 50px;
}


/***************************************************************
    Архив новостей
***************************************************************/
#newsarchcontent h3 {
    font-size: 28px;
}

#newsarchcontent ul {
    margin-top: 30px;
}

#newsarchcontent a {
    color: #185d81;
}

#newsarchcontent a:hover {
    color: #2497d4;
}

#archyear {
    color: #185d81;
    margin-top: 30px;
    font-size: 28px;
    font-weight: bold;
}

#archews {
    margin-top: 20px;
    line-height: 25px;
    color: #185d81;
}

#archews li:hover {
    cursor: pointer;
    color: #2497d4;
}

#archews > li > a {
    margin: 0px auto;
    position: relative;
    text-decoration: none;
}

/***************************************************************
    mrcfeed
***************************************************************/
#mrcfeed > table {
    margin-top: 20px;
    border: 1px solid #2497D4;
}

#mrcfeed > table td,
#mrcfeed > table th {
    text-align: center;
    border: 1px solid #2497D4;
}

#mrcfeed > table p {
    font-weight: normal;
    font-size: 12px;
}

/***************************************************************
    404
***************************************************************/
#mes {
    min-height: 140px;
}

#mes p {
    margin-top: 50px;
    font-size: 28px;
}

#pinguin {
    background-image: url('../images/linux.png');
    min-height: 400px;
    background-repeat: no-repeat;
    opacity: 0.7;
    margin-bottom: 30px;
}